html{
    scroll-behavior: smooth;
    scrol
}

body{
    
    margin: 0;
    font-family: 'Catamaran', sans-serif;
}
#main-container{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
#header-top{
    background-color: rgb(56, 56, 56);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#header-top nav a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;

    border-left: solid 2px #9a9a9a
}
#header-top nav{
    margin: 8px 0;
}
#header-top a{
    transition: 0.1s;
    text-decoration: none;
    color: #9a9a9a;
    padding: 0px 5px 0px 7px;
}
#header-top nav a:first-child{
    border-left: none   
}
#header-top #social-icon div{
    margin: 2px 0;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    justify-content: center;
    font-size: 23px;
    width: 38px;
    height: 38px;
    background-color: #1f1f1f;
    margin-left: -2px;
}
#header-top #social-icon{
    margin-right: 3%;
}
#header-title h1{
    line-height: 0px;
    font-size: 80px;
    display:flex;
    text-transform: uppercase;
    font-family: 'Catamaran', sans-serif;
    justify-content: center;
    margin-top: 100px;
    font-weight: 100;

}
#header-title h2{
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
    display: flex;
    text-transform: uppercase;
    color: #686868;
    justify-content: center;
    font-weight: 100;
}
#header-nav{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    text-transform: uppercase;
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray 
}
#header-nav a{
    transition: 0.1s;
    padding: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
    border-left: solid 1px lightgray
}

#header-nav a:nth-child(6){
    border-right: solid 1px lightgray
}
#header-nav a:hover{
    color: #ff9100;
}
#header-top nav a:hover{
    color: #cccccc;
}


.depliant{
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: white;
    padding: 5px 10px;
    align-items: center;
    border: #ccc solid 1px;
    border-top: none; 
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}
.depliant:hover{
    display: flex;
}
#ttdepliant a{
    border-left: none; 
}
#home{
    left : 500px
}
#ttdepliant{
    height: 100px;
    width: 500px;
    top: 48px;
    position: absolute;
}

#header-nav a:nth-child(1):hover ~ div #home{
    display: flex;
}
#home{
    left: 2px;
}
#header-nav a:nth-child(2):hover ~ div #pages{
    display: flex;
    
}
#pages{
    left: 68px
}
#header-nav a:nth-child(3):hover ~ div #element{
    display: flex;
    
}
#element{
    left: 148px
}    
#header-nav a:nth-child(4):hover ~ div #blog{
    display: flex;
}
#blog{
    left: 225px
}
#header-nav a:nth-child(5):hover ~ div #portfolio{
    display: flex;
}
#portfolio{
    left: 307px
}
#header-nav a:nth-child(6):hover ~ div #gallery{
    display: flex;
}
#gallery{
    left: 400px
}








/* - - - - - - [article 1] - - - - - */

#article1{
    background-color: rgb(241, 241, 241);
    padding: 30px 0;
    line-height: 17px;
    display: flex;
    justify-content: space-between
}
.art-lien{
    text-decoration: none;
    display: inline-flex;
    align-content: center;
    color: #686868;
    padding: 10px 20px;
    border: 1px solid #ff9100;  
    transition: 0.1s;
}
.date-comment{
    color: #686868;
    display: flex;
    flex-direction: row;
    width: 170px;
    align-items: center;
    justify-content: space-around
}
.comments{
    text-decoration: none;
    color: #ff9100
}
.title-art{
    text-align: center;
    font-weight: 100;
    text-transform: capitalize;
    margin-top: 15px;
    font-size: 30px
}
.art-lien:hover{
    background-color: #fff5e7;
    box-shadow: 0 0 2px 1px #ff9100;
    color: black;
}

/* Left */

#a1-left{
    width: 47%;
    background-color: white
}
#a1-left div:first-child{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#a1-left img{
    width: 100%;

}
#article1 h3{
    text-align: center;
    font-weight: 100;
    text-transform: capitalize;
    margin-top: 15px;
    font-size: 30px
}

.img-p{
    text-align: center;
    color: #686868;
    margin: 0 20px;
    max-width: 500px;
    font-size: 2vh;
}
#article1 a{
    text-decoration: none;
}


/* Right */

.a1r-p h3{
    line-height: 25px
}
#a1-right{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.a1-r-art{
    display: flex;
    flex-direction: row;
}
.a1r-p{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-bottom: 40px;
}
.a1-r-art img{
    width: 50%;
}

/* - - - - - - [article 2] - - - - - */
#article2{
    background-color: white;
    display: flex;
    justify-content: space-between;
    line-height: 15px;
}

#art2-left{
    margin-left: 10px;
    width: 65%
}
.art2-title{
    text-transform: uppercase;
    padding: 10px 10px;
    background-color: #383838;
    color: rgb(235, 235, 235)
}
#art2-b-p{
    margin: auto;
    padding-left: 30px; 
}
#art2-b-p p{
    color: #686868;
    font-size: 2vh
}
#art2-b-p h4{
    text-align: left
}
#art2-b-p div{
    width: 40%;
    justify-content: space-between;
    flex-wrap: wrap
}
#art2-lien{
    margin-top: 10px;
    text-decoration: none
}
#art2-big{
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    margin:20px 0;
    border-bottom: solid 1px #cccccc
}
#art2-big img{
    height: 300px;
}

/* small */

#art2-smalls{
    display: flex;
    justify-content: space-between;

}
.art2-art img{
    height: 150px;
    width: 200px
}
.art2-small-int{
    width: 44%
}
.art2-art{
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: #ccc solid 1px;
    justify-content: center;
}
.art2-art-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.art2-art-lien{
    text-decoration: none;
    color: #ff9100;
}
.art2-art-p div{
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Right */

#art2-right{
    width: 30%;
    padding-right: 10px; 
}
.art2-r-art img{
    width: 60%

}
.art2-r-art{
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #ccc 
}
.art2-r-art div div{
    width: 90%;
    justify-content: space-between;
}

/*  article 3      */
#article3{
    position: relative;
}

.btn{
    display: flex;
    position: absolute;
    flex-direction: row;
    background-color: #383838;
    color: white;
    padding: 10px 20px;
}
#btn2{
    cursor: pointer;
    left: 90px
}
#btn1{
    cursor: pointer;
    left: 0px
}
#btn3{
    cursor: pointer;
    left: 190px
}
#art3-nav{
    height: 47px;
    width: 100%;
    display: flex;
    position: absolute;
    background-color: #383838
}
.btn{
    transition: 0.1s;
}

.btn:hover{
    background: #ff9100;
}

#btn1:focus ~ #set1{
    display: flex;
}
#btn1:focus ~ #set2{
    display: none
}
#btn1:focus ~ #set3{
    display: none
}

#btn2:focus ~ #set2{
    display: flex;
}
#btn2:focus ~ #set1{
    display: none
}
#btn2:focus ~ #set3{
    display: none
}

#btn3:focus ~ #set3{
    display: flex
}
#btn3:focus ~ #set1{
    display: none
}
#btn3:focus ~ #set2{
    display: none
}

#set1, #set2, #set3{
    display: flex;
    justify-content: space-around
}
.set1{
    margin: 90px 0;
    width: 30%
}
.set1 img{
    width: 100%;
    padding: 4px;
    border: solid 1px #ccc;
}
.set1 div h4{
    font-size: 30px;
    font-weight: 100;
    text-transform: capitalize;
}
.set1 div div{
    justify-content: space-between;
    width: 60%
}

#set2{
    display: none;
}
#set3{
    display: none;
}

/*     slider    */

@keyframes slider {
    0%{right:0}
    100%{right:1000px}
}


#slider{
    position: relative;
    left: 0;
    top: 0;
}
#main-slider{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slider-div{
    padding: 60px 10px 0 10px;
    width: 250px;
}
.slider-div img{
    width: 230px;
    height: 160px;
}
#move-slider{
    position: relative;
    width: 2500px;
    display: flex;
    transition: 1s;
    animation-name: slider;
    animation-duration: 5s;
    animation-timing-function: linear; 
    animation-iteration-count: 1;
    animation-play-state: paused;
}
.slider-div p{
    color: #ff9100;
}
#slider span{

    z-index: 1;
    line-height: 15px;
    font-size: 40px;
    width: min-content;
    color: white;
    padding: 3px 14px;
    background-color: #ff9100;
    position: absolute;
}
#slider-right{
    right: 0;
}
#slider-left{
    right: 50px;
}

#slider-right:hover ~ #main-slider #move-slider{
    animation-play-state: running
}
#slider-left:hover ~ #main-slider #move-slider{
    animation-play-state: running;
    animation-direction: reverse;
}



/*     footer    */

footer{
    background-color: #383838;
    display: flex;
    padding: 0.5%
}
footer h4{
    text-transform: capitalize;
    font-size: 30px;
    color: white;
}
footer p{
    color: #9a9a9a;
}
.footer-divs{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-top: 30px;
    line-height: 17px
}
#footer-div3{
    display: flex;
    flex-direction: column;
}
#footer-div1{
    padding: 0 40px;
    width: 47%
}
#footer-div2{
    padding: 0 40px;
    width: 20%
}
#footer-div3{
    padding: 0 40px;
    width: 33%
}
#footer-div3 a{
    width: min-content;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #ff9100;
}
#footer-div3 input{
    height: 30px;
    margin-bottom: 20px;
    background-color: #1f1f1f;
    border-color: #686868;
    color: white;
}



#scrolUp{
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 4;
    background-color: #ff910079;
    color: white;
    font-size: 30px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}


